# Verzeichnisse, die von npm/yarn erstellt werden
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Erstellte Build-Dateien
build/

# Umgebungsdateien
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Mac-spezifische Dateien
.DS_Store

# Log-Dateien
*.log

# IDE/Editor spezifische Dateien (optional, je nach genutztem Editor/IDE)
.vscode/
.idea/

# Windows spezifische Dateien
Thumbs.db
ehthumbs.db
Desktop.ini

# Cache-Dateien
.cache/