
<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # Maskierte Affiliate-Weiterleitungen
  RewriteRule ^links/betanoSportwetten$ /redirect.php?key=betanoSportwetten [L]
  RewriteRule ^links/winamaxSportwetten$ /redirect.php?key=winamaxSportwetten [L]
  RewriteRule ^links/merkurbetsSportwetten$ /redirect.php?key=merkurbetsSportwetten [L]
  RewriteRule ^links/bingBongSlots$ /redirect.php?key=bingBongSlots [L]
  RewriteRule ^links/jackpotPiratenSlots$ /redirect.php?key=jackpotPiratenSlots [L]

# React-Routing für Single Page Application
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^ index.html [L]
</IfModule>
