
RewriteEngine On

# React-Routing für Single Page Application
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.html [L]

# Affiliate-Weiterleitungen
RewriteRule ^links/betanoSportwetten$ https://gml-grp.com/C.ashx?btag=a_10846b_3503c_&affid=3453&siteid=10846&adid=3503&c= [R=301,L]
RewriteRule ^links/winamaxSportwetten$ https://www.winamax.de/registration/landing/Default?language=DE&banid=73017 [R=301,L]
RewriteRule ^links/merkurbetsSportwetten$ https://media.cashpointpartners.com/C.ashx?btag=a_8433b_2360c_&affid=4834&siteid=8433&adid=2360&c= [R=301,L]
RewriteRule ^links/bingBongSlots$ https://opwu.grass.bingbong.de/ts/i5044752/tsc?typ=r&amc=networks.cap.526088.535942.CRTBbxuBVCq [R=301,L]
RewriteRule ^links/jackpotPiratenSlots$ https://cjih.boell.jackpotpiraten.de/ts/i5544453/tsc?typ=r&amc=networks.cap.526088.535942.CRT-GYr1T0Y [R=301,L]
